<h1>Hello Rails</h1>

<%= link_to "List Stations", railway_stations_path %>
<%= link_to "Create Trains", trains_path %>
<%= link_to "Create Routes", routes_path %>
<%= link_to "Create Vagons", train_vagons_path %>
